<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Job board HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}" >
    <link rel="stylesheet" href="../../assets/css/owl.carousel.min.css" th:href="@{/assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" href="../../assets/css/flaticon.css" th:href="@{/assets/css/flaticon.css}">
    <link rel="stylesheet" href="../../assets/css/price_rangs.css" th:href="@{/assets/css/price_rangs.css}">
    <link rel="stylesheet" href="../../assets/css/slicknav.css" th:href="@{/assets/css/slicknav.css}">
    <link rel="stylesheet" href="../../assets/css/animate.min.css" th:href="@{/assets/css/animate.min.css}">
    <link rel="stylesheet" href="../../assets/css/magnific-popup.css" th:href="@{/assets/css/magnific-popup.css}">
    <link rel="stylesheet" href="../../assets/css/fontawesome-all.min.css" th:href="@{/assets/css/fontawesome-all.min.css}">
    <link rel="stylesheet" href="../../assets/css/themify-icons.css" th:href="@{/assets/css/themify-icons.css}">
    <link rel="stylesheet" href="../../assets/css/slick.css" th:href="@{/assets/css/slick.css}">
    <link rel="stylesheet" href="../../assets/css/nice-select.css" th:href="@{/assets/css/nice-select.css}">
    <link rel="stylesheet" href="../../assets/css/style.css" th:href="@{/assets/css/style.css}">
</head>

<body>
<!-- Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="assets/img/logo/logo.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<div th:include="fragments/header"></div>
<main layout:fragment="content">

</main>
<div th:include="fragments/footer"></div>

<!-- JS here -->

<!-- All JS Custom Plugins Link Here here -->
<script src="../../assets/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="../../assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="../../assets/js/popper.min.js"></script>
<script src="../../assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="../../assets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="../../assets/js/owl.carousel.min.js"></script>
<script src="../../assets/js/slick.min.js"></script>
<script src="../../assets/js/price_rangs.js"></script>

<!-- One Page, Animated-HeadLin -->
<script src="../../assets/js/wow.min.js"></script>
<script src="../../assets/js/animated.headline.js"></script>
<script src="../../assets/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="../../assets/js/jquery.scrollUp.min.js"></script>
<script src="../../assets/js/jquery.nice-select.min.js"></script>
<script src="../../assets/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="../../assets/js/contact.js"></script>
<script src="../../assets/js/jquery.form.js"></script>
<script src="../../assets/js/jquery.validate.min.js"></script>
<script src="../../assets/js/mail-script.js"></script>
<script src="../../assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="../../assets/js/plugins.js"></script>
<script src="../../assets/js/main.js"></script>

</body>
</html>