<header>
    <!-- Header Start -->
    <div class="header-area header-transparrent">
        <div class="headder-top header-sticky">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-2">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="/">
                                <div class="hero__caption">
                                    <h1>Deals.</h1>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="menu-wrapper">
                            <!-- Main-menu -->
                            <div class="main-menu">
                                <nav class="d-none d-lg-block">
                                    <ul id="navigation">
                                        <li><a href="index.html">Home</a></li>

                                    </ul>
                                </nav>
                            </div>
                            <!-- Header-btn -->
                            <div  class="header-btn d-none f-right d-lg-block">
                                <a th:href="@{/register}"class="btn head-btn1">Inscription</a>
                                <a th:href="@{/login}" class="btn head-btn2">Connexion</a>
                            </div>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>